*{
    font-family: "Circular Std";
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}
  
.top-navbar, .bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 18px;
}
  
.top-navbar {
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px rgb(213, 213, 213) solid;
}

.bottom-navbar {
    padding-left: 20px;
    padding-right: 35px;
}

.top-links {
    display: flex;
    justify-content: flex-end; 
    width: calc(100% - 20px);
}
  
.top-links a, .bottom-links a {
    color: rgb(27, 27, 27);
    text-decoration: none;
    margin-left: 30px;
}
  
.top-links a:hover, .bottom-links a:hover {
    color: green;
    border-radius: 5px;
    transition: all .4s ease;
}
  
.logo img {
    height: 60px;
    width: auto;
}
  
.bottom-links {
    display: flex;
    align-items: center;
}
  
.donate-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: all .2s ease;
}
  
.donate-button:hover {
    color: darkgreen;
    background-color: white;
    border: 2px solid darkgreen;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 18px;
}
  